.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  padding-left: 21px;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.minus {
  border-radius: 5px 0 0 5px;
}

.plus {
  border-radius: 0 5px 5px 0;
}

.checkout {
  font-size: 32px;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.remove-all {
  border-radius: 50%;
  text-align: center;
  border: none;
  width: 21px;
  height: 21px;
  padding-bottom: 3px;
  margin-bottom: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.inner-wrapper {
  display: none;
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: relative;
  right: 0;
  height: 100%;
  overflow: auto;
}

@media (min-width: 768px) {
  .inner-wrapper {
    display: block;
    position: fixed;
  }
}

.inner-wrapper h3 {
  font-size: 28px;
  font-weight: 400;
}

.inner-items {
  border-bottom: 1px solid #d8d8d8;
}

.inner-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  /* background-color: grey; */
}

.inner-items img {
  max-width: 80px;
}

.innerCartItem {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px; */
  margin: 10px 0;
  border-bottom: 1px solid #d8d8d8;
}

.cartItem img {
  width: 200px;
}

.innerCartItem .description {
  width: 100px;
}

.innerCountHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  background-color: black;
  color: #f1f1f1;
  border: none;
  padding: 7px;
}

.innerCountHandler button {
  background-color: black;
  color: #f1f1f1;
  cursor: pointer;
  border: none;
  padding: 7px;
  text-align: center;
  font-weight: bolder;
}

.inner-checkout p {
  font-weight: 400;
  font-size: 32px;
}

.inner-checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
